*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5rem) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 56.25rem) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5rem) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background: rgba(36, 29, 19, 0.4);
  overflow-x: hidden;
  color: #777; }
  body .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: 0.8; }
    body .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden; } }

.customnavbar {
  display: flex;
  margin: auto;
  height: 10%;
  align-items: center;
  background: linear-gradient(rgba(8, 6, 6, 0.9), rgba(8, 6, 6, 0.9));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 100; }
  .customnavbar__logo-container {
    flex: 1;
    color: white;
    letter-spacing: 0.5rem; }
    .customnavbar__logo-container > h4 {
      margin-left: 2rem;
      font-size: 3rem; }
  .customnavbar__nav {
    flex: 1;
    color: white; }
  .customnavbar__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 80%;
    box-sizing: border-box; }
  .customnavbar__item {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in; }
    .customnavbar__item:hover {
      background-color: #423f3f; }
  .customnavbar__link {
    text-decoration: none;
    color: #e2e2e2;
    font-size: 2rem; }
  .customnavbar__menu-lines {
    margin-right: 5rem;
    display: none;
    cursor: pointer; }
    .customnavbar__menu-lines div {
      width: 30px;
      height: 4px;
      margin: 5px;
      background-color: #e2e2e2;
      transition: all 0.5s; }
  .customnavbar .toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 7px); }
  .customnavbar .toggle .line2 {
    opacity: 0; }
  .customnavbar .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .customnavbar__logo-container {
      flex: 1;
      font-size: 2.5rem;
      letter-spacing: 0.3rem; }
      .customnavbar__logo-container > h4 {
        margin-left: 1rem; }
    .customnavbar__nav {
      flex: 2; }
    .customnavbar__item {
      width: 100%;
      text-align: center;
      padding: 2rem; } }
  @media only screen and (max-width: 768px) {
    .customnavbar__logo-container {
      font-size: 2.5rem;
      letter-spacing: 0.5rem; }
    .customnavbar__list {
      z-index: 1000;
      width: 50%;
      position: fixed;
      right: 0px;
      min-height: 90%;
      top: 10%;
      background: linear-gradient(#080606, #080606);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: 0.5s all; }
    .customnavbar__nav {
      display: none; }
    .customnavbar .nav-visible {
      display: block; }
    .customnavbar__item {
      opacity: 0; }
    .customnavbar__link {
      font-size: 2.5rem;
      letter-spacing: 0.5rem; }
    .customnavbar__menu-lines {
      display: block; } }
  .customnavbar .nav-active {
    transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.header {
  min-height: 90vh;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -30%); }
  .header .heading-primary {
    color: #e2e2e2;
    text-transform: uppercase;
    width: 100%;
    font-family: "Oswald", sans-serif;
    line-height: 10rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .header .heading-primary--main {
      display: inline-block;
      font-size: 3.5rem;
      font-weight: bold;
      color: #f89807;
      font-family: inherit;
      animation: moveInRight 1.5s ease-out 0.5s; }
    .header .heading-primary--sub1 {
      display: inline-block;
      font-size: 9rem;
      font-weight: bold;
      font-family: inherit;
      transform: translateY(-10%);
      letter-spacing: 0.6rem;
      animation: moveInLeft 1.5s ease-out 0.5s; }

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(10rem); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem, -10%); }
  100% {
    opacity: 1;
    transform: translate(0, -10%); } }

@media only screen and (max-width: 250px) {
  .header__text-box {
    top: 40%; }
  .header .heading-primary {
    line-height: 3rem; }
    .header .heading-primary--main {
      font-size: 1.5rem;
      line-height: 2rem; }
    .header .heading-primary--sub1 {
      margin-top: 2rem;
      font-size: 2.8rem; } }

@media only screen and (min-width: 250px) and (max-width: 500px) {
  .header__text-box {
    top: 42%; }
  .header .heading-primary {
    line-height: 5rem; }
    .header .heading-primary--main {
      font-size: 2rem;
      line-height: 3rem; }
    .header .heading-primary--sub1 {
      margin-top: 3rem;
      font-size: 3.2rem; } }

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .header__text-box {
    top: 42%; }
  .header .heading-primary {
    line-height: 5rem; }
    .header .heading-primary--main {
      font-size: 2.8rem;
      line-height: 4rem; }
    .header .heading-primary--sub1 {
      margin-top: 4rem;
      font-size: 4.8rem; } }

.custom-btn, .custom-btn:link, .custom-btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  border-radius: 10rem;
  position: relative;
  cursor: pointer;
  transition: all 0.5s; }

.custom-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.custom-btn:active {
  transform: translateY(0) scale(1); }

.custom-btn--primary {
  background-color: rgba(13, 224, 59, 0.3);
  box-shadow: 0 1rem 2rem rgba(13, 224, 59, 0.2);
  color: #e2e2e2;
  border: 2px solid #0ddb3a;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #0de03b 50%);
  background-size: 220%;
  margin: auto 1rem; }
  .custom-btn--primary:hover {
    background-position: 100%; }

.custom-btn--secondary {
  background-color: rgba(66, 63, 63, 0.3);
  box-shadow: 0 1rem 2rem rgba(66, 63, 63, 0.2);
  color: #e2e2e2;
  border: 2px solid #3f3d3d;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #423f3f 50%);
  background-size: 220%;
  margin: auto 1rem; }
  .custom-btn--secondary:hover {
    background-position: 100%; }

.custom-btn--white {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0.5rem 0.5rem 2rem rgba(255, 255, 255, 0.3);
  color: #080606;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  text-align: center;
  margin: auto 1rem; }
  .custom-btn--white:hover {
    background-position: 100%; }

.custom-btn--green {
  background-color: #46ad7c;
  box-shadow: 0.5rem 0.5rem 2rem rgba(70, 173, 124, 0.3);
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #378962 50%);
  background-size: 220%;
  text-align: center;
  border-radius: 0 !important;
  margin: auto 1rem; }
  .custom-btn--green:hover {
    background-position: 100%; }

.custom-btn--outline {
  border: 2px solid #46ad7c;
  box-shadow: 0.5rem 0.5rem 2rem rgba(70, 173, 124, 0.3);
  color: #fff;
  border-radius: 0 !important;
  margin: auto 1rem; }

@media only screen and (max-width: 250px) {
  .btn:link, .btn:visited {
    padding: 1rem 3rem;
    font-size: 1rem;
    margin: 0.5rem auto; } }

@media only screen and (min-width: 250px) and (max-width: 500px) {
  .btn:link, .btn:visited {
    padding: 1.2rem 4rem;
    font-size: 1.2rem;
    margin: 1rem auto; } }

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .btn:link, .btn:visited {
    padding: 1.2rem 4rem;
    font-size: 1.2rem;
    margin: 0.5rem auto; } }

.section-service-icons {
  height: 100%;
  display: flex;
  margin: 3rem 0; }

.section__service-icons {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 5rem 5rem;
  background: rgba(8, 6, 6, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  position: relative; }
  .section__service-icons::before {
    content: "";
    background-color: rgba(31, 139, 4, 0.4);
    width: 100%;
    height: 3rem;
    top: 0;
    position: absolute;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }

.section__service-icons-item {
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem; }

.section__service-icon {
  flex: 3; }

.section__service-text {
  flex: 1;
  font-size: 2rem;
  color: #e2e2e2; }

.section__service-link {
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  display: block;
  font-size: 1.5rem;
  padding-top: 3.7rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  margin: auto;
  margin-top: 2.5rem;
  transition: 0.5s; }
  .section__service-link::before {
    border-radius: 100px;
    content: "";
    display: block;
    position: absolute;
    left: 41%;
    top: 41%;
    height: 14rem;
    width: 14rem;
    margin-left: -5.9rem !important;
    margin-top: -5.9rem !important;
    opacity: 1;
    transition: all 300ms; }
  .section__service-link:hover::before {
    transform: scale(1.1); }
  .section__service-link--1 {
    background-color: #d31919; }
    .section__service-link--1::before {
      border: 2px solid #d31919; }
  .section__service-link--2 {
    background-color: #19d341; }
    .section__service-link--2::before {
      border: 2px solid #19d341; }
  .section__service-link--3 {
    background-color: #1979d3; }
    .section__service-link--3::before {
      border: 2px solid #1979d3; }
  .section__service-link--4 {
    background-color: #e06e11; }
    .section__service-link--4::before {
      border: 2px solid #e06e11; }
  .section__service-link--5 {
    background-color: #8f19d3; }
    .section__service-link--5::before {
      border: 2px solid #8f19d3; }
  .section__service-link--6 {
    background-color: #c64eca; }
    .section__service-link--6::before {
      border: 2px solid #c64eca; }
  .section__service-link--7 {
    background-color: #4119d3; }
    .section__service-link--7::before {
      border: 2px solid #4119d3; }
  .section__service-link--8 {
    background-color: #19d376; }
    .section__service-link--8::before {
      border: 2px solid #19d376; }
  .section__service-link--9 {
    background-color: #19bdd3; }
    .section__service-link--9::before {
      border: 2px solid #19bdd3; }
  .section__service-link--10 {
    background-color: #d31947; }
    .section__service-link--10::before {
      border: 2px solid #d31947; }
  .section__service-link > i {
    font-size: 4.6rem;
    color: #e2e2e2;
    font-weight: 400; }

.section-service-registration {
  height: 100%;
  display: flex;
  margin: 2rem 0; }

.section__service-registration {
  width: 100%;
  margin: auto;
  background: rgba(8, 6, 6, 0.4);
  position: relative;
  padding: 5rem 5rem;
  border-radius: 1rem; }
  .section__service-registration::before {
    content: "";
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    background-color: rgba(31, 139, 4, 0.4);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }

.section__service-header {
  top: 5rem; }
  .section__service-header span h3 {
    text-align: center;
    font-size: 4rem;
    color: #fff; }
  .section__service-header span h6 {
    text-align: center;
    font-size: 1.8rem;
    color: #e2e2e2; }

.section__service-cards {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.section__service-button {
  display: flex; }
  .section__service-button span {
    margin: auto; }

.section-trademark-services {
  height: 100%;
  display: flex;
  margin: 2rem 0 0 0; }

.section__trademark-services {
  width: 100%;
  margin: auto;
  background: rgba(8, 6, 6, 0.4);
  position: relative;
  padding: 5rem 5rem;
  border-radius: 1rem; }
  .section__trademark-services::before {
    content: "";
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    background-color: rgba(31, 139, 4, 0.4);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }

.section__trademark-header {
  top: 5rem; }
  .section__trademark-header span h3 {
    text-align: center;
    font-size: 4rem;
    color: #fff; }
  .section__trademark-header span h6 {
    text-align: center;
    font-size: 1.8rem;
    color: #e2e2e2; }

.section__trademark-cards {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.section-company-benefits {
  height: 100%;
  display: flex; }

.section__company-benefits {
  width: 100%;
  margin: auto;
  background: #fff;
  position: relative;
  padding: 5rem 5rem; }

.section__company-header {
  top: 5rem; }
  .section__company-header span h3 {
    text-align: center;
    font-size: 4rem;
    color: #080606; }
  .section__company-header span h6 {
    text-align: center;
    font-size: 1.8rem;
    color: #423f3f; }

.section__company-details {
  margin-top: 5rem;
  box-sizing: border-box; }
  .section__company-details--top {
    width: 90%;
    margin: auto;
    padding: 0 5rem; }
    .section__company-details--top > p {
      font-size: 1.8rem;
      font-weight: 400; }
  .section__company-details--bottom {
    width: 100%;
    margin: 10rem auto;
    justify-content: space-around;
    font-family: arial, sans-serif;
    display: flex; }
  .section__company-details-icons-item {
    display: -webkit-box;
    display: flex; }
  .section__company-details-icon {
    padding: 1em 2em;
    z-index: 5; }
  .section__company-details-link {
    width: 15rem;
    height: 10rem;
    display: flex; }
  .section__company-details-link--1 {
    background-image: url(/assets/svg/on-time-delivery.svg);
    background-size: 15rem 10rem;
    background-repeat: no-repeat; }
  .section__company-details-link--2 {
    background-image: url(/assets/svg/transparent-pricing.svg);
    background-size: 15rem 10rem;
    background-repeat: no-repeat; }
  .section__company-details-link--3 {
    background-image: url(/assets/svg/tech-driven-paltform.svg);
    background-size: 15rem 10rem;
    background-repeat: no-repeat; }
  .section__company-details-link--4 {
    background-image: url(/assets/svg/confidentiality.svg);
    background-size: 15rem 10rem;
    background-repeat: no-repeat; }
  .section__company-details-link--5 {
    background-image: url(/assets/svg/expert-team.svg);
    background-size: 15rem 10rem;
    background-repeat: no-repeat; }
  .section__company-details-text {
    position: absolute;
    width: 400px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 50px);
    transition: 0.5s; }
    .section__company-details-text > div {
      border: 2px solid #46ad7c;
      border-radius: 0.5em;
      padding: 0.5em;
      margin: 1em 0; }
      .section__company-details-text > div h1 {
        color: #46ad7c;
        font-size: 1.8rem;
        margin: 0;
        padding: 0 0 0.5em 0;
        letter-spacing: 0.1em; }
      .section__company-details-text > div p {
        margin: 0;
        color: #423f3f;
        padding: 0;
        line-height: 150%;
        font-size: 1.3rem; }
    .section__company-details-text:nth-child(1) {
      bottom: 25px; }
    .section__company-details-text:nth-child(2) {
      bottom: 35px; }
  .section__company-details-link:hover .section__company-details-text {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0); }
  .section__company-details-btn {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center; }
  .section__company-details-about {
    margin: 1.6rem auto;
    text-align: center; }
    .section__company-details-about > p {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold; }

.section-customerfeedback {
  height: 100%;
  display: flex;
  background: rgba(8, 6, 6, 0.4); }

.section__customerfeedback {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 5rem 5rem; }
  .section__customerfeedback-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; }
  .section__customerfeedback-carousel {
    margin: auto;
    width: 80%;
    position: relative; }
  .section__customerfeedback-slidecontainer {
    display: flex; }
  .section__customerfeedback-slide {
    color: #fff;
    box-sizing: border-box;
    padding: 5rem;
    width: 80%;
    margin: auto; }
    .section__customerfeedback-slide-comment {
      font-size: 1.8rem;
      font-family: 'Sansita Swashed', cursive; }
      .section__customerfeedback-slide-comment p {
        margin: auto;
        text-align: center; }
    .section__customerfeedback-slide-customer {
      font-size: 1.6rem;
      text-align: center; }
  .section__customerfeedback-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section__customerfeedback-controls button {
      border: none;
      background: transparent;
      cursor: pointer; }
      .section__customerfeedback-controls button > i {
        color: #fff;
        font-size: 2rem; }
      .section__customerfeedback-controls button:focus {
        outline: none; }

.section-allservices {
  height: 100%;
  background: rgba(8, 6, 6, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section__allservices {
  margin: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly; }

.section__allservices-details {
  padding: 7rem 0; }
  .section__allservices-details--header > h1 {
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #f3ef03; }
  .section__allservices-details--links > ul {
    margin: auto; }
    .section__allservices-details--links > ul li {
      position: relative;
      list-style: none; }
      .section__allservices-details--links > ul li:first-child {
        margin-top: 2.2rem; }
      .section__allservices-details--links > ul li:not(:first-child) {
        margin-top: 1.2rem; }
      .section__allservices-details--links > ul li > a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem; }
        .section__allservices-details--links > ul li > a:hover {
          color: #46ad7c; }

.section__allservices-button {
  margin-bottom: 5rem; }
  .section__allservices-button span {
    font-size: 1.6rem; }
    .section__allservices-button span a {
      font-size: inherit; }

.section-allservices {
  height: 100%;
  background: rgba(8, 6, 6, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section__allservices {
  margin: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly; }

.section__allservices-details {
  padding: 7rem 0; }
  .section__allservices-details--header > h1 {
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #f3ef03; }
  .section__allservices-details--links > ul {
    margin: auto; }
    .section__allservices-details--links > ul li {
      position: relative;
      list-style: none; }
      .section__allservices-details--links > ul li:first-child {
        margin-top: 2.2rem; }
      .section__allservices-details--links > ul li:not(:first-child) {
        margin-top: 1.2rem; }
      .section__allservices-details--links > ul li > a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem; }
        .section__allservices-details--links > ul li > a:hover {
          color: #46ad7c; }

.section__allservices-button {
  margin-bottom: 5rem; }
  .section__allservices-button span {
    font-size: 1.6rem; }
    .section__allservices-button span a {
      font-size: inherit; }

.section-picture-description {
  height: 100%;
  display: flex; }

.section__picture-description {
  width: 100%;
  margin: auto;
  background: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .section__picture-description--1 {
    width: 50%;
    height: 35rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(/assets/business-associate.jpg) no-repeat center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem; }
  .section__picture-description--2 {
    width: 50%;
    height: 35rem;
    background-image: url(/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .section__picture-description--3 {
    width: 50%;
    height: 35rem;
    background: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(66, 63, 63, 0.8)), url(/assets/bookshelf.jpg) no-repeat center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .section__picture-description--3 > * {
      width: 50%; }
  .section__picture-description--4 {
    width: 50%;
    height: 35rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/assets/lawbook.jpg) no-repeat center;
    background-size: 100%; }

.section__picture-heading {
  text-align: center; }
  .section__picture-heading--main-1 {
    display: block;
    font-size: 2.5rem;
    color: #080606; }
  .section__picture-heading--sub-1 {
    display: block;
    font-size: 2rem;
    color: #423f3f; }
  .section__picture-heading--main-3 {
    display: block;
    font-size: 2.5rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 0; }
  .section__picture-heading--sub-3 {
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
    color: #fff; }

.section__picture-content-1 {
  margin-top: 4rem;
  text-align: center; }
  .section__picture-content-1 > span {
    font-size: 1.4rem;
    line-height: 2.5rem; }

.section__picture-content-3 {
  margin-top: 3rem;
  text-align: center;
  color: #fff; }
  .section__picture-content-3 > span {
    font-size: 1.4rem;
    line-height: 2.5rem; }

.section__picture-button {
  margin: auto; }
  .section__picture-button > a {
    padding: 1.5rem 5rem; }

@media only screen and (max-width: 80rem) {
  .section__service-icons-item {
    width: 20rem;
    height: 24rem; } }

@media only screen and (max-width: 950px) {
  .section__company-details {
    display: flex;
    flex-direction: column; }
    .section__company-details--left {
      width: 100%; }
    .section__company-details--right {
      width: 100%; } }

@media only screen and (min-width: 80rem) and (max-width: 100rem) {
  .section__service-icons-item {
    width: 22rem;
    height: 24rem; } }

@media only screen and (min-width: 100rem) {
  .section__service-icons-item {
    width: 28rem;
    height: 24rem; } }

.service-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 30rem;
  height: 50rem;
  margin: 3rem 1rem;
  transition: all 0.5s; }
  .service-card__side {
    height: inherit;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem; }
    .service-card__side--front {
      width: 100%;
      background-color: #fff; }
    .service-card__side--back {
      width: 100%;
      transform: rotateY(180deg); }
      .service-card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
      .service-card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
      .service-card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
      .service-card__side--back-4 {
        background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
  .service-card:hover .service-card__side--front {
    transform: rotateY(-180deg); }
  .service-card:hover .service-card__side--back {
    transform: rotate(0); }
  .service-card__picture {
    height: 15rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .service-card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
    .service-card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
    .service-card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
    .service-card__picture--4 {
      background-image: linear-gradient(to right bottom, rgba(8, 6, 6, 0.8), rgba(8, 6, 6, 0.8)); }
  .service-card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    color: #e2e2e2;
    position: absolute;
    top: 5rem;
    right: 2rem; }
    .service-card__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      line-height: 4rem; }
      .service-card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(66, 63, 63, 0.8), rgba(66, 63, 63, 0.8)); }
      .service-card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(66, 63, 63, 0.8), rgba(66, 63, 63, 0.8)); }
      .service-card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(66, 63, 63, 0.8), rgba(66, 63, 63, 0.8)); }
      .service-card__heading-span--4 {
        background-image: linear-gradient(to right bottom, rgba(66, 63, 63, 0.8), rgba(66, 63, 63, 0.8)); }
  .service-card__details {
    padding: 1rem; }
    .service-card__details ul {
      list-style: none;
      margin: 0 auto; }
      .service-card__details ul li {
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center; }
        .service-card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .service-card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .service-card__price-box {
    margin-bottom: 8rem;
    text-align: center;
    color: #fff; }
  .service-card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .service-card__price-value {
    font-size: 4.5rem;
    font-weight: 300; }
  @media only screen and (max-width: 1050px) {
    .service-card {
      width: 35rem;
      height: 46rem;
      margin: 3rem 2rem; } }
  @media only screen and (min-width: 1050px) and (max-width: 1079px) {
    .service-card {
      width: 25rem;
      height: 46rem;
      margin: 3rem 0.5rem; } }
  @media only screen and (min-width: 1079px) and (max-width: 1400px) {
    .service-card {
      width: 26rem;
      height: 46rem;
      margin: 3rem 0.5rem; } }

.card2 {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 23rem;
  height: 22rem;
  margin: 3rem 1rem;
  transition: all 0.5s; }
  .card2__side {
    height: inherit;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem; }
    .card2__side--front {
      width: 100%;
      background-color: #fff; }
    .card2__side--back {
      width: 100%;
      transform: rotateY(180deg); }
      .card2__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(70, 173, 124, 0.8), rgba(70, 173, 124, 0.8)); }
      .card2__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(70, 173, 124, 0.8), rgba(70, 173, 124, 0.8)); }
      .card2__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(70, 173, 124, 0.8), rgba(70, 173, 124, 0.8)); }
      .card2__side--back-4 {
        background-image: linear-gradient(to right bottom, rgba(70, 173, 124, 0.8), rgba(70, 173, 124, 0.8)); }
  .card2:hover .card2__side--front {
    transform: rotateY(-180deg); }
  .card2:hover .card2__side--back {
    transform: rotate(0); }
  .card2__heading {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: #080606;
    padding: 1.8rem 0; }
  .card2__details ul {
    list-style: none;
    margin: 0 auto; }
    .card2__details ul li {
      padding: 1rem;
      font-size: 1.5rem;
      text-align: center; }
      .card2__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card2__price-box {
    background-color: #46ad7c;
    width: 100%;
    padding: 1.8rem 0;
    color: #e2e2e2;
    text-align: center; }
    .card2__price-box > h3 {
      font-size: 1.6rem; }
  .card2__cta {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }

.private-limited {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .private-limited__customer-query {
    background: linear-gradient(to right, rgba(8, 6, 6, 0.7), rgba(8, 6, 6, 0.7)), url(/assets/private-limited-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100vw 100vh; }
  .private-limited__header {
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 10%;
    color: #fff; }
    .private-limited__header--top > h1 {
      font-size: 3.6rem;
      text-align: center; }
    .private-limited__header--bottom > h1 {
      text-align: center; }
  .private-limited-query__section {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .private-limited-query__advantages {
    transform: translateY(-8%); }
    .private-limited-query__advantages > ul {
      margin: auto;
      padding: 5rem; }
      .private-limited-query__advantages > ul .advantages__item {
        background-color: rgba(8, 6, 6, 0.8);
        list-style: none;
        margin-top: 0.5rem;
        color: #fff;
        display: flex;
        font-size: 1.6rem; }
        .private-limited-query__advantages > ul .advantages__item span {
          padding: 1rem 2rem; }
        .private-limited-query__advantages > ul .advantages__item-icon > img {
          width: 3rem; }
  .private-limited-query__formdata {
    padding: 3rem;
    background-color: rgba(8, 6, 6, 0.8); }
  .private-limited-query__form {
    display: flex;
    flex-direction: column;
    color: #fff; }
    .private-limited-query__form-field {
      outline: none;
      border: none;
      background: none;
      border-bottom: 2px solid #fff;
      padding: 1rem 0.5rem;
      width: 30rem;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff; }
      .private-limited-query__form-field::placeholder {
        color: #fff;
        font-size: 1.4rem; }
    .private-limited-query__form .btn {
      font-size: 1.6rem; }
  .private-limited-query__form-button {
    margin-top: 2rem;
    height: 4rem; }
  .private-limited__packages {
    margin-top: 10rem; }

.pricingTable {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 30px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 0 15px -8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  z-index: 1; }

.pricingTable:before,
.pricingTable:after {
  content: "";
  background-color: #f4f5f9;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: -213px;
  right: -213px;
  z-index: -1; }

.pricingTable:after {
  background-color: #fe5f85;
  height: 300px;
  width: 300px;
  top: auto;
  bottom: -210px;
  right: auto;
  left: -160px; }

.pricingTable .title {
  color: #1a2a3a;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px; }

.pricingTable .title:before {
  content: "";
  background-color: #1a2a3a;
  width: 65px;
  height: 3px;
  margin: 0 auto 20px;
  display: block;
  clear: both; }

.pricingTable .price-value {
  color: #fff;
  background-color: #fe5f85;
  padding: 28px 0;
  margin: 0 auto 25px; }

.pricingTable .price-value .currency {
  font-size: 35px;
  font-weight: 300;
  line-height: 35px;
  vertical-align: top;
  display: inline-block; }

.pricingTable .price-value .amount {
  font-size: 58px;
  font-weight: 700;
  line-height: 45px;
  display: inline-block; }

.pricingTable .price-value .duration {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 0 -5px;
  display: inline-block; }

.pricingTable .pricing-content {
  padding: 0;
  margin: 0 0 25px;
  list-style: none; }
  .pricingTable .pricing-content__available-icon--check {
    background-color: #0bcf26;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex; }
    .pricingTable .pricing-content__available-icon--check i {
      margin: auto;
      transform: translateX(-2px);
      color: #fff; }
  .pricingTable .pricing-content__available-icon--close {
    background-color: #cf120b;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex; }
    .pricingTable .pricing-content__available-icon--close i {
      margin: auto;
      transform: translateX(-1.4px);
      color: #fff; }

.pricingTable .pricing-content li {
  color: #888;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  margin-top: 1.5rem;
  position: relative;
  display: flex; }
  .pricingTable .pricing-content li span {
    padding: 0 .5rem; }
  .pricingTable .pricing-content li span:not(:first-child) {
    margin-left: 2rem; }

.pricingTable .pricing-content li:last-child {
  margin: 0; }

.pricingTable .pricingTable-signup a {
  color: #fff;
  background-color: #fe5f85;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: 140px;
  padding: 3px 10px;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid transparent;
  display: block;
  transition: all 0.3s ease 0s; }

.pricingTable .pricingTable-signup a:hover {
  color: #fe5f85;
  background-color: transparent;
  border-color: #fe5f85; }

.pricingTable.blue:after {
  background-color: #00ccff; }

.pricingTable.blue .price-value {
  background-color: #00ccff; }

.pricingTable.blue .pricing-content li:before {
  background-color: #00ccff; }

.pricingTable.blue .pricingTable-signup a {
  background-color: #00ccff; }

.pricingTable.blue .pricingTable-signup a:hover {
  color: #00ccff;
  background-color: transparent;
  border-color: #00ccff; }

.pricingTable.purple:after {
  background-color: #7424dd; }

.pricingTable.purple .price-value {
  background-color: #7424dd; }

.pricingTable.purple .pricing-content li:before {
  background-color: #7424dd; }

.pricingTable.purple .pricingTable-signup a {
  background-color: #7424dd; }

.pricingTable.purple .pricingTable-signup a:hover {
  color: #7424dd;
  background-color: transparent;
  border-color: #7424dd; }

@media only screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 30px; } }
