.custom-btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        padding: 1.5rem 4rem;
        font-size: 2rem;
        border-radius: 10rem;
        position: relative;
        cursor: pointer;
        transition: all 0.5s;
    }

    &:hover {
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(0) scale(1);
    }

    &--primary {
        background-color: rgba($color-green-light, 0.3);
        box-shadow: 0 1rem 2rem rgba($color-green-light, 0.2);
        color: $color-white;
        border: 2px solid darken($color-green-light, 1);
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-green-light 50%);
        background-size: 220%;
        margin: auto 1rem;
        &:hover {
            background-position: 100%;
        }
    }
    &--secondary {
        background-color: rgba($color-dark-2, 0.3);
        box-shadow: 0 1rem 2rem rgba($color-dark-2, 0.2);
        color: $color-white;
        border: 2px solid darken($color-dark-2, 1);
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-dark-2 50%);
        background-size: 220%;
        margin: auto 1rem;
        &:hover {
            background-position: 100%;
        }
    }

    &--white {
        background-color: rgba($color-white-primary, 0.6);
        box-shadow: 0.5rem 0.5rem 2rem rgba($color-white-primary, 0.3);
        color: $color-dark-1;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white-primary 50%);
        background-size: 220%;
        text-align: center;
        margin: auto 1rem;
        &:hover {
            background-position: 100%;
        }
    }

    &--green {
        background-color: $color-ocean-green;
        box-shadow: 0.5rem 0.5rem 2rem rgba($color-ocean-green, 0.3);
        color: $color-white-primary;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, darken($color-ocean-green, 10%) 50%);
        background-size: 220%;
        text-align: center;
        border-radius: 0 !important;
        margin:auto 1rem;
        &:hover {
            background-position: 100%;
        }
    }
    &--outline{
        border:2px solid $color-ocean-green;
        box-shadow: 0.5rem 0.5rem 2rem rgba($color-ocean-green, 0.3);
        color: $color-white-primary;
        border-radius: 0 !important;
        margin:auto 1rem;
    }
}

@media only screen and (max-width: 250px) {
    .btn {
        &:link,
        &:visited {
            padding: 1rem 3rem;
            font-size: 1rem;
            margin: 0.5rem auto;
        }
    }
}

@media only screen and (min-width: 250px) and (max-width: 500px) {
    .btn {
        &:link,
        &:visited {
            padding: 1.2rem 4rem;
            font-size: 1.2rem;
            margin: 1rem auto;
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .btn {
        &:link,
        &:visited {
            padding: 1.2rem 4rem;
            font-size: 1.2rem;
            margin: 0.5rem auto;
        }
    }
}
