$color-dark-1: #080606;
$color-dark-2: #423f3f;

$color-grey: #eee;

$color-white-primary: #fff;
$color-white: #e2e2e2;

$color-green-light: #0de03b;
$color-green-dark: rgb(31, 139, 4);

$color-blue-1: #9810e7;

$color-video-overlay: #241d13;
$color-yellow-dark: #f89807;

$color-card-1-light: #7ed56f;
$color-card-1-dark: #28b485;

$color-card-2-light: #ffb900;
$color-card-2-dark: #ff7730;

$color-card-3-light: #2998ff;
$color-card-3-dark: #5643fa;

$color-card-4-light: #f829ff;
$color-card-4-dark: #fa435b;

$color-ocean-green: #46ad7c;
$color-ocean-green-dark: #058849;

$color-ocean-blue: #009dc4;
//#00ccff;

$color-dark-3: #654949b3;

$color-dark-blue:#081624;
