.private-limited {
  width: 100vw;
  height: 100vh;
  position: relative;
  &__header {
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 10%;
    color: $color-white-primary;
    &--top > h1 {
      font-size: 3.6rem;
      text-align: center;
    }
    &--bottom > h1 {
      text-align: center;
    }
  }
  &-query__section {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  &-query__advantages {
    transform: translateY(-8%);
    & > ul {
      margin-top: 5rem;
      display: flex;
      justify-content: space-evenly;
      & .advantages__item {
        width: 22rem;
        background-color: rgba($color-dark-1, 0.8);
        list-style: none;
        margin-top: 0.5rem;
        color: $color-white-primary;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.6rem;
        margin-left: 2rem;
        padding: 1rem 0;
        &-icon > img {
          width: 3rem;
        }
      }
    }
  }
  &-query__formdata {
    margin-top: 5rem;
    padding: 2rem;
  }
  &-query__form {
    color: $color-white-primary;
    &-fields {
      display: flex;
    }
    &-field {
      outline: none;
      border: none;
      background: none;
      border-bottom: 2px solid $color-white-primary;
      width: 22rem;
      margin-top: 1rem;
      font-size: 1.4rem;
      margin-left: 2rem;
      color: $color-white-primary;
      transition: all 0.3s;
      &::placeholder {
        color: $color-white-primary;
        font-size: 1.4rem;
      }
      &:focus {
        border-bottom: 2px solid $color-ocean-green;
      }
    }
    & .btn {
      font-size: 1.6rem;
      background-color: $color-ocean-green;
      margin-left: 2rem;
      width: 20rem;
      &:hover,&:active, &:focus{
        background-color: $color-ocean-green-dark;
      }
    }
  }
  &-query__form-button {
    margin-top: 2rem;
    height: 4rem;
  }
  &__packages {
    background: #fff;
    &-content-header {
      & > div {
        margin-top: 5rem;
      }
      & h1 {
        font-size: 3.6rem;
        text-align: center;
      }
    }
    &-content-main {
      margin-top: 5rem;
    }
  }

  &__allcontents {
    background-color: #ffffff;
    width: 100%;
    padding: 10rem;
  }

  &__about {
    &-header h1 {
      font-size: 3.6rem;
      color: $color-dark-blue;
    }
    &-content {
      padding: 2rem 5rem;
      & p {
        font-size: 1.6rem;
      }
    }
  }

  &__features {
    &-header h1 {
      font-size: 3.6rem;
      color: $color-dark-blue;
    }
    &-content {
      padding: 2rem 5rem;
      font-size: 1.6rem;
      & ol {
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
      }

      & ol > li {
        margin: 0;
        padding: 0 0 0 2em;
        text-indent: -2em;
        list-style-type: none;
        counter-increment: item;
      }
      & ol > li:before {
        display: inline-block;
        width: 1em;
        padding-right: 0.5em;
        font-weight: bold;
        text-align: right;
        content: counter(item) ".";
      }
    }
  }

  &__requirements {
    &-header > h1 {
      font-size: 3.6rem;
      color: $color-dark-blue;
    }
    &-content {
      padding: 2rem 5rem;
    }
    &-content-card {
      & .card-body > h5 {
        font-size: 1.8rem;
      }
      & .card-body,
      li {
        font-size: 1.6rem;
      }
    }
  }

  &__procedure {
    margin-top: 2rem;
    &-header h1 {
      font-size: 3.6rem;
      color: $color-dark-blue;
    }
    &-content {
      padding: 2rem 5rem;
      font-size: 1.6rem;
      & ol {
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
      }

      & ol > li {
        margin: 0;
        padding: 0 0 0 2em;
        text-indent: -2em;
        list-style-type: none;
        counter-increment: item;
      }
      & ol > li:before {
        display: inline-block;
        width: 1em;
        padding-right: 0.5em;
        font-weight: bold;
        text-align: right;
        content: counter(item) ".";
      }
    }
  }
}
