.private-limited {
  width: 100vw;
  height: 100vh;
  position: relative;
  &__customer-query {
    background: linear-gradient(
        to right,
        rgba($color-dark-3, 0.7),
        rgba($color-dark-2, 0.7)
      ),
      url(/assets/private-limited-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100vw 100vh;
  }
  &__header {
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 10%;
    color: $color-white-primary;
    &--top > h1 {
      font-size: 3.6rem;
      text-align: center;
    }
    &--bottom > h1 {
      text-align: center;
    }
  }
  &-query__section {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &-query__advantages {
    transform: translateY(-8%);
    & > ul {
      margin: auto;
      padding: 5rem;
      & .advantages__item {
        background-color: rgba($color-dark-1, 0.8);
        list-style: none;
        margin-top: 0.5rem;
        color: $color-white-primary;
        display: flex;
        font-size: 1.6rem;
        & span {
          padding: 1rem 2rem;
        }
        &-icon > img {
          width: 3rem;
        }
      }
    }
  }
  &-query__formdata {
    padding: 3rem;
    background-color: rgba($color-dark-1, 0.8);
  }
  &-query__form {
    display: flex;
    flex-direction: column;
    color: $color-white-primary;
    &-field {
      outline: none;
      border: none;
      background: none;
      border-bottom: 2px solid $color-white-primary;
      padding: 1rem 0.5rem;
      width: 30rem;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: $color-white-primary;
      &::placeholder {
        color: $color-white-primary;
        font-size: 1.4rem;
      }
    }
    & .btn {
      font-size: 1.6rem;
    }
  }
  &-query__form-button {
    margin-top: 2rem;
    height: 4rem;
  }
  &__packages {
    margin-top: 5rem;
    &-content-header h1 {
      font-size: 3.6rem;
      text-align: center;
    }
    &-content-main {
      margin: 5rem 0;
    }
  }

  &__allcontents {
    background-color: #ffffff;
    width: 100%;
    padding: 10rem;
  }

  &__about {
    &-header h1 {
      font-size: 3.6rem;
    }
    &-content {
      padding: 2rem 5rem;
      & p {
        font-size: 1.6rem;
      }
    }
  }

  &__features {
    &-header h1 {
      font-size: 3.6rem;
    }
    &-content {
      padding: 2rem 5rem;
      font-size: 1.6rem;
      & ol {
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
      }

      & ol > li {
        margin: 0;
        padding: 0 0 0 2em;
        text-indent: -2em;
        list-style-type: none;
        counter-increment: item;
      }
      & ol > li:before {
        display: inline-block;
        width: 1em;
        padding-right: 0.5em;
        font-weight: bold;
        text-align: right;
        content: counter(item) ".";
      }
    }
  }

  &__requirements {
    &-header > h1 {
      font-size: 3.6rem;
    }
    &-content {
      padding: 2rem 5rem;
    }
    &-content-card{
      & .card-body > h5{
        font-size: 1.8rem;
      }
      & .card-body, li {
        font-size: 1.6rem;
      }
    }
  }

  &__procedure {
    margin-top: 2rem;
    &-header h1 {
      font-size: 3.6rem;
    }
    &-content {
      padding: 2rem 5rem;
      font-size: 1.6rem;
      & ol {
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
      }

      & ol > li {
        margin: 0;
        padding: 0 0 0 2em;
        text-indent: -2em;
        list-style-type: none;
        counter-increment: item;
      }
      & ol > li:before {
        display: inline-block;
        width: 1em;
        padding-right: 0.5em;
        font-weight: bold;
        text-align: right;
        content: counter(item) ".";
      }
    }
  }
}
